<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container">
<div class="row">
<div class="col-md-6 offset-md-3">

<div class="my-card">
 <div th:if="${session.message}"  th:classappend="${session.message.type}" class="alert" role="alert">
  <p class="text-center text-uppercase" th:text="${session.message.content}"></p>
  
  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>
<h1 class="text-center">Register Here</h1>

<form novalidate action="" th:action="@{do_register}" method="post" th:object="${user}">
 <div class="form-group">
    <label for="name">Your Name</label>
    <input type="text" class="form-control" 
    name="name"
    id="name" 
    placeholder="enter your name here"
    th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}"
    th:value="${user.name}"
    aria-describedby="name" required />
     <div class="invalid-feedback" th:each="e: ${#fields.errors('name')}" th:text="${e}">
        Please provide a valid name.
      </div>
     
  </div>
 <div class="form-group">
    <label for="email">Your Email</label>
    <input type="email" class="form-control" 
    id="email" 
    name="email"
    placeholder="enter your email"
    aria-describedby="email" 
    th:value="${user.email}"
    required>
    
  </div>
 <div class="form-group">
    <label for="password">Your Password</label>
    <input type="password" class="form-control" 
    id="email" 
    placeholder="enter your password" name="password"
    aria-describedby="password" required>
    
  </div>
<!--   about field -->
<div class="form-group">
<textarea placeholder="Enter about yourself" rows="10" class="form-control" name="about"
th:value="${user.about}"
></textarea>
</div>

<div class="form-group form-check">
<input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
<label for="agreement">Accept Terms and Conditions</label>


</div>

<div class="container">
<button type="submit" class="btn bg-primary text-white text-center text-uppercase">Submit</button>


<button type="reset" class="btn btn-warning text-white text-center text-uppercase">Reset</button>
</div>
</form>
</div>
</div>
</div>

</div>
</section>
</body>
</html>